<div class='dashboard'>
  <div class='px-4 pt-5 my-5 text-center border-bottom'>
    <h2 class='display-4 fw-bold'>Sandwich Dashboard</h2>
    <div class='d-grid gap-2 d-sm-flex justify-content-sm-center mb-5'>
      <ul style='list-style: none;'>
        <li><a
            href='/sandwich'
            id='submit-btn'
            class='btn btn-lg justify-content-center mb-3'
            role='button'
          >Create Your Sandwich</a></li>
      </ul>

    </div>
  </div>

  <div class='row flex-wrap justify-content-around'>
    {{#each data as |sandwich|}}

      <div class='card flex-wrap mx-auto' style='width: 18rem;'>

         <div class='d-grid gap-2 d-md-flex justify-content-md-end mt-2'>
           
            <button
              class='btn btn-danger btn-sm rounded-0 sandwich-list'
              type='button'
              data-toggle='tooltip'
              data-placement='top'
              title='Delete'
              data-id='{{sandwich.id}}'
            ><i class='fa fa-trash' class='btn btn-danger btn-sm rounded-0 sandwich-list'
              type='button'
              data-toggle='tooltip'
              data-placement='top'
              title='Delete'
              data-id='{{sandwich.id}}'></i></button>
        </div>

        <div class='card-body'>
          <div class='px-1 pt-1 my-2 text-center border-bottom'>
            <li class='list-group-item'><h4>{{sandwich.name}}</h4>
            </li>
          </div>
          
          <ul class='list-group list-group-flush'>

            {{#each sandwich.ingredients as |ingredient|}}
              <li class='list-group-item'>Ingredients:
                {{ingredient.name}}</li>
            {{/each}}

          </ul>
          <div class='d-grid gap-1 d-md-flex mt-4'>
            <button
              class='btn btn-primary btn-like btn-dashboard'
              type='button' data-id='{{sandwich.id}}'`
            ><i class='fa-regular fa-heart' ></i>
              <span class='like-label'>0</span></button>
            <button
              class='btn btn-primary btn-comment btn-dashboard'
              type='button'
              data-bs-toggle='modal'
              data-bs-target='#exampleModal'
            ><i class='fa-regular fa-comment'></i> <span class='comment-label'>0</span></button>

            <!-- Modal -->
            <div
              class='modal fade'
              id='exampleModal'
              tabindex='-1'
              aria-labelledby='exampleModalLabel'
              aria-hidden='true'
            >
              <div class='modal-dialog'>
                <div class='modal-content'>
                  <div class='modal-header'>
                    <h1
                      class='modal-title fs-5'
                      id='exampleModalLabel'
                    >Comment</h1>
                    <button
                      type='button'
                      class='btn-close'
                      data-bs-dismiss='modal'
                      aria-label='Close'
                    ></button>
                  </div>
                  <div class='modal-body'>
                    <div class='input-group'>
                      <textarea
                        class='form-control'
                        aria-label='With textarea'
                      ></textarea>
                    </div>
                  </div>
                  <div class='modal-footer'>
                    <button
                      type='button'
                      class='btn btn-secondary'
                      data-bs-dismiss='modal'
                    >Close</button>
                    <button
                      onclick='addComment()'
                      id='myBtn'
                      type='button'
                      class='btn btn-primary'
                    >Submit</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script
  type='text/javascript'
  src='//code.jquery.com/jquery-1.11.0.min.js'
></script>
<script
  type='text/javascript'
  src='//code.jquery.com/jquery-migrate-1.2.1.min.js'
></script>
<script type='text/javascript' src='/js/like.js'></script>

