{{!-- <div class= "container">
  <form action="#">
  <div class="form-group">
    <label for="bread">Bread</label><br>
      <select id="list" multiple="multiple">
      <option value="White bread">{{ingredient.name[1]}}</option>
      <option value="Wheat bread">{{ingredient.name[2]}}</option>
      <option value="Rye bread">{{ingredient.name[3]}}</option>
      <option value="Sourdough bread">{{ingredient.name[4]}}</option>
      <option value="Baguette">{{ingredient.name[5]}}</option>
      </select>
  </div>
</form>
</div>

<div class= "container">
  <form action="#">
  <div class="form-group">
    <label for="meat">Meat</label><br>
    <select id="list" multiple="multiple">
      <option value="Ham">{{ingredient.name[6]}}</option>
      <option value="Turkey">{{ingredient.name[7]}}</option>
      <option value="Roast beef">{{ingredient.name[8]}}</option>
      <option value="Salami">{{ingredient.name[9]}}</option>
      <option value="Prosciutto">{{ingredient.name[10]}}</option>
    </select>
  </div>
</form>
</div> --}}

{{!-- <div class= "container">
  <form action="#">
  <div class="form-group">
    <label for="cheese">Cheese</label><br>
    <select id="list" multiple="multiple">
      <option value="Cheddar">{{ingredient.name[11]}}</option>
      <option value="Swiss">{{ingredient.name[12]}}</option>
      <option value="Mozzarella">{{ingredient.name[13]}}</option>
      <option value="American">{{ingredient.name[14]}}</option>
      <option value="Provolone">{{ingredient.name[15]}}</option>
    </select>
  </div>
</form>
</div>

<div class= "container">
  <form action="#">
  <div class="form-group">
    <label for="vegetables">Vegetables</label><br>
    <select id="list" multiple="multiple">
      <option value="Lettuce">Lettuce</option>
      <option value="Tomato">Tomato</option>
      <option value="Cucumber">Cucumber</option>
      <option value="Onion">Onion</option>
      <option value="Pickles">Pickles</option>
    </select>
  </div>
</form>
</div> --}}
something and stuff
{{#each categories as |category|}}
  <select>
    {{#each category.ingredients as |ingredient|}}
      <option>{{ingredient.name}}</option>
    {{/each}}
  </select>
{{/each}}